{% extends 'base.html' %}

{% block content %}
{% load static %}
    <h1>BLIŹNIĘTA</h1>
  <p><b>20/21 V - 20/21 VI</b></p>

      <!DOCTYPE html>
      <!-- dodaję wyśrodkowaną fotę -->
    <html>
    <head>
    <meta name="bliznieta.jpg" content="width=device-width, initial-scale=1">
    <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
    </head>
    <body>
    <img src="{% static "img/bliznieta.jpg" %}" alt="bliznieta" style="width:15%;">
    </body>
    </html>

    </html>

      <p><b>Człowiek urodzony pod znakiem Bliźniąt</b><br>
      odznacza się niezwykłą witalnością, jest pełen energii, a do tego całkiem inteligentny, więc potrafi dokonać w swoim życiu naprawdę wspaniałych rzeczy.<br>
      W dodatku jego wrodzona ciekawość świata sprawia, że nic nie jest dla niego nudne lub niewarte uwagi.<br>
     <br>  <br>

    <b>Cechy charakteru zodiakalnych Bliźniąt</b><br>
      <b>Zalety:</b> ciekawskie, energiczne, dowcipne, pomysłowe, umieją przystosować się do różnych warunków i osób.<br>
      <b>Wady:</b> chytre, impulsywne, powierzchowne, nerwowe, niezdecydowane, kłamliwe, nieszczere, egocentryczne.<br> </p>



{% endblock %}

